---
layout: default
title: Deb's Best Recipes
---
<div id='menu'>
	<div class='col-sm-6 col-md-3'>
		<h2>Entres</h2>
		<h2>Beef</h2>
			{% assign cat = site.categories.beef %}
			{% include cat.html %}
		<h2>Pork</h2>
			{% assign cat = site.categories.pork %}
			{% include cat.html %}
		<h2>Chicken</h2>
			{% assign cat = site.categories.poultry %}
			{% include cat.html %}
		<h2>Bison</h2>
			{% assign cat = site.categories.bison %}
			{% include cat.html %}
		<h2>Lamb</h2>
			{% assign cat = site.categories.lamb %}
			{% include cat.html %}
		<h2>Vegetarian/Vegan</h2>
			{% assign cat = site.categories.vegi %}
			{% include cat.html %}
		<h2>Sea Food</h2>
			{% assign cat = site.categories.seafood %}
			{% include cat.html %}
	</div>
	<div class='col-sm-6 col-md-3'>
		<h2>Soups</h2>
			{% assign cat = site.categories.soups %}
			{% include cat.html %}
		<h2>Starters</h2>
			{% assign cat = site.categories.starters %}
			{% include cat.html %}
		<h2>Salads</h2>
			{% assign cat = site.categories.salads %}
			{% include cat.html %}
		<h2>Breads</h2>
			{% assign cat = site.categories.breads %}
			{% include cat.html %}
	</div>
	<div class='col-sm-6 col-md-3'>
		<h2>Desserts</h2>
			{% assign cat = site.categories.desserts %}
			{% include cat.html %}
	</div>
	<div class='col-sm-6 col-md-3'>
		<h2>Beverages</h2>
			{% assign cat = site.categories.beverages %}
			{% include cat.html %}
		<h2>Sides</h2>
			{% assign cat = site.categories.sides %}
			{% include cat.html %}
		<h2>Miscellaneous</h2>
			{% assign cat = site.categories.misc %}
			{% include cat.html %}
	</div>
</div>
<script>
$(window).load(function() {
	$.getJSON("search.json", function(sindex){
		delete sindex.NOTAPOST;
		$('#filter').keyup(function(){
			filter = $('#filter').val().toLowerCase();

			if(filter.length === 0){
				$('li').css('display', 'block');
				return;
			}

			if(filter.length > 2){
				$.each(sindex, function(k, v){
					if(v.indexOf(filter) === -1){
						$('[x-url="'+k+'"]').css('display', 'none');
					}
				});
			}
		});
		$('#filter').attr('placeholder', 'filter');
	});
});

</script>
